<link rel="stylesheet" href="css/app.css">


<div id="eventCreation">
    <form id ="eventForm" action="/events" method="POST">
        <fieldset>
            <legend>Create a new event</legend>        
            <div>
                <label for="eventTitle">Event title:</label><br>
                <input type="text" name="title" placeholder="title"required>
            </div>
            <br/>
            <div>
                <label for="eventDescription">Description:</label><br>
                <input type="text" name="description" placeholder="description"required>
            </div>
            <br/>
            <div>
                <label for="eventDate">Date:</label><br>
                <input type="date" name="date" placeholder="date"required>
            </div>
            <br/>
            <div>
                <label for="eventOptionOne">Option 01:</label><br>
                <input type="text" name="optionOne" placeholder="option 01"required>
            </div>
            <br/>       
            <div>
                <label for="eventOptionTwo">Option 02:</label><br>
                <input type="text" name="optionTwo" placeholder="option 02"required>
            </div>
            <br/>   
            <div>
                <label for="eventPartipcipants">Participants:</label><br>
                <input type="number" name="participants" placeholder="participants"required>
            </div>
            <br/>
            <input type="submit" value="Submit" class ="submit-button"/>
        </fieldset>
    </form>
</div>

<div id="events">
<h1 id="title">Events</h1>

<div id="events-container">
<% events.forEach(event => { %>
<a href="/events/<%= event._id %>"  id="event">
 <h5> <%= event.title %> </h5>
 <span>Event Description: </span><span> <%= event.description %> </span><br/>
 <span>Event Date: </span><span><%= event.date %> </span><br/>
 <span>Options: </span><span><%= event.options %> </span><br/>
 <span>Participants: </span><span> <%= event.participants %> </span><br/>
</a>
<% }); %>
</a>
</div>

