<link rel="stylesheet" href="css/app.css">

<div id="events">
<h1 id="title">Events</h1>
<div id="events-container">
<% events.forEach(event => { %>
<a href="/events/<%= event._id %>"  id="event">
 <h5> <%= event.title %> </h5>
 <span>Event Description: </span><span> <%= event.Description %> </span><br/>
 <span>event date: </span><span><%= event.date %> </span><br/>
 <span>Participants: </span><span> <%= event.participants %> </span><br/>
</a>
<% }); %>
</a>
</div>