<link rel="stylesheet" href="css/app.css">
    <div class="px-8 py-4 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800" style="cursor: auto; width: 400px; margin-top: 50px; margin-bottom: 50px;">
        <div class="mt-2">
          <a href="/singlePoll/<%= poll._id %>" class="text-2xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline"><%= poll.title %></a> 
          
            <div class="text-white"><b>Final Result: <%= finalResult.name %></b></div>
            <% for (var i = 0; i < poll.options.length; i++) { %>
                <div class="text-blue-600 dark:text-blue-400 hover:underline"><%= poll.options[i].name %></div>
                <div class="text-blue-600 dark:text-blue-400 hover:underline"><%= poll.options[i].votes %> votes</div>
            </br>
            <% } %>             
           
        </div> 
    </div>
    <div class="px-8 py-4 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800" style="cursor: auto; width: 400px; margin-top: 50px; margin-bottom: 50px;">
        <div class="text-white" title="This is only visible for your as poll maker"><b>Only visible for Pollmaker:</b></div> 
    </br>
        <a href="<%=`/singlePoll/openPoll/${poll._id}?_method=POST`%>"><button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Open poll</button></a>
        <a href="<%= `/singlePoll/${poll._id}/delete?_method=DELETE` %>"><button onclick="return confirm('Are you sure you want to delete this poll?')" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Delete</button></a>
    </div>
